@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.tab-menu {
    background-color: black;
    padding: 20px 0; /* Augmente le padding vertical */
    width: 100%; /* Assure que le menu prend toute la largeur */
    font-family: 'Poppins', sans-serif; /* Utilise la police Poppins */
}

.tab-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    max-width: 1200px; /* Limite la largeur maximale du contenu */
    margin: 0 auto; /* Centre le contenu horizontalement */
}

.tab-menu li {
    margin: 0 10px; /* Augmente légèrement l'espacement entre les onglets */
}

.tab-menu button {
    background-color: transparent; /* Fond transparent pour un look plus moderne */
    border: none;
    padding: 12px 24px; /* Augmente légèrement le padding */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px; /* Taille de police légèrement plus grande */
    font-weight: 600; /* Police en semi-gras pour plus d'impact */
    text-transform: uppercase; /* Texte en majuscules pour un look plus stylisé */
    letter-spacing: 1px; /* Espacement des lettres pour un aspect plus aéré */
}

.tab-menu button:hover,
.tab-menu button.active {
    background-color: var(--danger-color); /* Rouge carmin */
    color: white;
}