.sub-menu {
  margin: 0 auto; /* Centrer horizontalement */
  padding: 5px; /* Réduire le padding pour rapprocher la bordure des boutons */
  border-radius: 10px; /* Bords arrondis */
  display: inline-block; /* Réduire la largeur du conteneur */
}

.sub-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Centrer horizontalement */
}

.sub-menu li {
  margin-right: 10px;
  padding: 5px; /* Padding interne pour les éléments de la liste */
}

.sub-menu button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  color: #333;
}

.sub-menu li.active button {
  color: #007bff;
}

.sub-menu button:hover {
  color: white;
}
